* {
    scrollbar-width: thin;
    scrollbar-color: #272C34 #121212;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.transition {
    transition: all .2s ease;
}

.transition-lg {
    transition: all .7s ease;
}